@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html,
body {
  height: 100%;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
  height: auto;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

a {
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input[type=submit] {
  box-shadow: none;
  border-radius: 0;
  border: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.header {
  padding: 3.75rem 4.78rem;
}
.header__container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}
.header__burger {
  display: none;
  background: none;
  cursor: s;
}
@media (max-width: 66.25rem) {
  .header__container {
    flex-direction: column;
    padding: 0.625rem 0;
    gap: 10px;
  }
}
.header__logo {
  cursor: pointer;
  max-width: 13.72rem;
}
@media (max-width: 26.875rem) {
  .header__logo {
    display: none;
  }
  .header__menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -120%;
    transition: left 0.3s;
    background-color: wheat;
    padding: 6.25rem 0.9375rem 1.25rem 0.625rem;
    overflow: auto;
  }
  .menu-open .header__menu {
    left: 0;
  }
  .header__burger {
    display: block;
    position: relative;
    z-index: 5;
    width: 1.875rem;
    height: 1.125rem;
  }
  .header__burger-line, .header__burger:before, .header__burger:after {
    content: "";
    background-color: #000;
    position: absolute;
    height: 0.125rem;
    width: 100%;
    left: 0;
    transition: all 0.3s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger-line {
    top: calc(50% - 0.0625rem);
  }
  .menu-open .header__burger::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  .menu-open .header__burger::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
  .menu-open .header__burger-line {
    left: 50%;
    width: 0;
  }
}

.menu__list {
  display: flex;
  gap: 2.5rem;
  align-items: center;
}
@media (max-width: 66.25rem) {
  .menu__list {
    text-align: center;
    -moz-column-gap: 2.5rem;
         column-gap: 2.5rem;
  }
}
@media (max-width: 50.625rem) {
  .menu__list {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 1rem;
  }
}
.menu__link {
  color: #000;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.75rem;
  text-decoration: none;
}
.menu__link:hover {
  color: #2c2a2a;
  -webkit-text-decoration: underline 2px;
          text-decoration: underline 2px;
}
.menu__button {
  background-color: #fff;
  border: 1px solid #191a23;
}
.menu__button:hover {
  background-color: #dfdfdf;
}
@media (max-width: 26.875rem) {
  .menu__list {
    flex-direction: column;
    gap: 2.1875rem;
  }
  .menu__link {
    font-size: 1.8rem;
  }
}

@media (max-width: 50.625rem) {
  .header {
    padding: 1.75rem 2.78rem;
  }
}
@media (max-width: 26.875rem) {
  .header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4.3rem;
    background-color: wheat;
    border-bottom: 1px solid #000;
    z-index: 2;
  }
}
.main {
  padding-bottom: 4.38rem;
}
.main__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
}
.main__content {
  display: flex;
  flex: 1 1 auto;
  gap: 2.5rem;
  flex-direction: column;
}
.main__title {
  max-width: 33.18rem;
  color: #000;
  font-size: 3.75rem;
  font-weight: 500;
}
.main__text {
  max-width: 31.125rem;
  color: #000;
  font-family: Space Grotesk;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.75rem;
}
.main__button button {
  color: #fff;
  text-align: center;
  font-family: Space Grotesk;
  font-size: 1.25rem;
  background-color: #000;
  font-weight: 400;
  line-height: 1.75rem;
}
.main__button button:hover {
  background-color: #2c2a2a;
}
.main__image {
  flex: 0 0 49.5%;
}
.main__image-show img {
  display: none;
}
.main__image img {
  max-width: 100%;
}
@media (max-width: 60rem) {
  .main__container {
    flex-direction: column;
    text-align: center;
  }
  .main__content {
    align-items: center;
  }
  .main__text {
    text-align: center;
    max-width: 100%;
  }
  .main__title {
    max-width: 100%;
  }
  .main__image-hide img {
    display: none;
  }
  .main__image-show img {
    display: block;
    gap: 1rem;
  }
}
@media (max-width: 31.875rem) {
  .main__content {
    gap: 1rem;
  }
  .main__title {
    font-size: 2.75rem;
  }
  .main__text {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
  }
  .main__button {
    width: 100%;
  }
  .main__button button {
    width: 100%;
  }
}

@media (max-width: 31.875rem) {
  .main {
    padding-bottom: 1.38rem;
  }
}
.partners {
  padding-bottom: 8.75rem;
  margin: 0 auto;
}
.partners__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
@media (max-width: 52.5rem) {
  .partners__container {
    justify-content: center;
  }
}

@media (max-width: 40.125rem) {
  .partners {
    padding-bottom: 2.74rem;
  }
}
.services {
  padding-bottom: 6.25rem;
}
.services__info {
  display: flex;
  gap: 2.5rem;
  align-items: center;
  padding-bottom: 5rem;
}
@media (max-width: 40.125rem) {
  .services__info {
    flex-direction: column;
    text-align: center;
    padding-bottom: 2rem;
  }
}
.services__title {
  color: #000;
  font-family: Space Grotesk;
  font-size: 2.5rem;
  background-color: #b9ff66;
  font-weight: 500;
}
.services__text {
  max-width: 36.25rem;
}
.services__cards {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2.5rem;
  flex-wrap: wrap;
}
@media (max-width: 77.5rem) {
  .services__cards {
    flex-direction: column;
    align-items: normal;
  }
}
.services__card {
  padding: 3.125rem;
  max-width: 30rem;
  display: flex;
  align-items: center;
  gap: 4.3125rem;
  border-radius: 2.8125rem;
  border: 1px solid #191A23;
  background: #F3F3F3;
  box-shadow: 0px 5px 0px 0px #191a23;
}
@media (max-width: 77.5rem) {
  .services__card {
    max-width: 100%;
    align-items: center;
  }
}
@media (max-width: 40.125rem) {
  .services__card {
    flex-direction: column;
    align-items: center;
  }
}

.card__left {
  display: flex;
  flex-direction: column;
  gap: 5.8125rem;
}
@media (max-width: 40.125rem) {
  .card__left {
    gap: 2.8125rem;
  }
}
.card__title {
  max-width: 13.8125rem;
  color: #000;
  font-family: Space Grotesk;
  font-size: 1.875rem;
  font-weight: 500;
  max-width: 100%;
}
.card__text {
  display: flex;
  align-items: center;
  gap: 0.9375rem;
}
.card__text p {
  font-family: Space Grotesk;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.75rem;
}
.card__text a {
  text-decoration: none;
}
.card__text p:hover {
  -webkit-text-decoration: underline #000 3px;
          text-decoration: underline #000 3px;
}
.card__image {
  max-width: 100%;
}
@media (max-width: 40.125rem) {
  .card__image {
    display: none;
  }
}

.title--green {
  background: #b9ff66;
}

.title--white {
  background: #fff;
}

.text--black {
  color: #000;
}

.text--white p {
  color: #fff;
}

.text--white a {
  text-decoration: none;
  color: #fff;
}

.text--white p:hover {
  -webkit-text-decoration: underline #fff 3px;
          text-decoration: underline #fff 3px;
}

.card--green {
  background: #b9ff66;
}

.card--black {
  background: #191a23;
}

.proposal {
  padding-bottom: 8.75rem;
}
.proposal__body {
  position: relative;
  padding: 0 3.75rem;
  border-radius: 45px;
  display: flex;
  align-items: center;
  row-gap: 11.625rem;
  background-color: #F3F3F3;
  justify-content: space-between;
  height: 21.6875rem;
}
@media (max-width: 60rem) {
  .proposal__body {
    padding: 2.75rem 2.75rem;
    height: auto;
    justify-content: center;
  }
}
.proposal__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.625rem;
}
@media (max-width: 60rem) {
  .proposal__content {
    text-align: center;
    align-items: center;
  }
}
.proposal__title {
  color: #000;
  font-family: Space Grotesk;
  font-size: 1.875rem;
  font-weight: 500;
}
.proposal__text {
  max-width: 31.25rem;
  color: #000;
  font-family: Space Grotesk;
  font-size: 1.125rem;
  font-weight: 400;
}
@media (max-width: 60rem) {
  .proposal__text p {
    max-width: 100%;
  }
}
.proposal__image img {
  position: absolute;
  left: 62%;
  bottom: -6%;
}
@media (max-width: 68rem) {
  .proposal__image img {
    left: 57%;
  }
}
@media (max-width: 60rem) {
  .proposal__image img {
    display: none;
  }
}

@media (max-width: 60rem) {
  .proposal {
    padding-bottom: 2.75rem;
  }
}
@media (max-width: 60rem) {
  .main__button {
    max-width: 100%;
  }
  .main__button button {
    max-width: 100%;
  }
}

.cases {
  padding-bottom: 8.75rem;
}
.cases__info {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  margin-bottom: 5rem;
}
@media (max-width: 60rem) {
  .cases__info {
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    margin-bottom: 2rem;
  }
}
.cases__title {
  max-width: 13.8125rem;
  color: #000;
  font-family: Space Grotesk;
  font-size: 1.875rem;
  font-weight: 500;
  max-width: 100%;
  background: #b9ff66;
}
.cases__text {
  max-width: 36.25rem;
}
.cases__text p {
  color: #000;
  font-family: Space Grotesk;
  font-size: 1.125rem;
}
.cases__content {
  background-color: #191A23;
  border-radius: 2.8125rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 60rem) {
  .cases__content {
    display: none;
  }
}
.cases .cases__content-solo {
  background-color: #191A23;
  border-radius: 2.8125rem;
  max-width: 300px;
}
@media (min-width: 60rem) {
  .cases .cases__content-solo {
    display: none;
  }
}
@media (max-width: 60rem) {
  .cases .cases__content-solo {
    margin: 0 auto;
    margin-bottom: 1rem;
  }
}
.cases .content-solo {
  padding: 3.75rem 4.375rem;
}
.cases .content-solo__text {
  color: #fff;
  font-family: Space Grotesk;
  font-size: 1.125rem;
  max-width: 15.625rem;
}
.cases .content-solo__link {
  display: flex;
  align-items: center;
  gap: 0.9375rem;
}
.cases .content-solo__link a {
  color: #b9ff66;
  font-family: Space Grotesk;
  font-size: 1.25rem;
  text-decoration: none;
  line-height: 1.75rem; /* 140% */
}
@media (max-width: 28.375rem) {
  .cases .content-solo {
    padding: 1.75rem 2.375rem;
  }
}
.cases .content {
  padding: 3.75rem 4.375rem;
}
.cases .content__link {
  display: flex;
  align-items: center;
  gap: 0.9375rem;
}
.cases .content__link a {
  color: #b9ff66;
  font-family: Space Grotesk;
  font-size: 1.25rem;
  text-decoration: none;
  line-height: 1.75rem; /* 140% */
}
.cases .content__link a:hover {
  text-decoration: underline;
}
.cases .content__column {
  max-width: 17.875rem;
}
.cases .content__column:nth-child(1) {
  padding-right: 4rem;
  border-right: 1px solid white;
  height: 100%;
}
.cases .content__column:nth-child(2) {
  padding: 0 4rem;
  border-right: 1px solid white;
  height: 100%;
}
.cases .content__column:nth-child(3) {
  padding-left: 4rem;
}
.cases .content__text {
  color: #fff;
  font-family: Space Grotesk;
  font-size: 1.125rem;
  padding-bottom: 1.25rem;
}

@media (max-width: 58.125rem) {
  .cases {
    padding-bottom: 1.5rem;
  }
}
.process {
  padding-bottom: 8.75rem;
}
.process__heading {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  padding-bottom: 5rem;
}
@media (max-width: 58.125rem) {
  .process__heading {
    flex-direction: column;
    padding-bottom: 2rem;
    text-align: center;
    gap: 1.5rem;
  }
}
.process__title {
  background-color: #b9ff66;
  color: #000;
  font-family: Space Grotesk;
  font-size: 2.5rem;
  font-weight: 500;
}
@media (max-width: 58.125rem) {
  .process__title {
    font-size: 2.25rem;
  }
}
.process__text {
  color: #000;
  max-width: 18.25rem;
  font-family: Space Grotesk;
  font-size: 1.125rem;
  font-weight: 400;
}
.process__blocks {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.875rem;
}

@media (max-width: 58.125rem) {
  .process {
    padding-bottom: 3rem;
  }
}
.block__body {
  display: flex;
  width: 90%;
  flex-direction: column;
  padding: 2.5625rem 3.75rem;
  border-radius: 45px;
  border: 1px solid #191A23;
  background: #F3F3F3;
  box-shadow: 0px 5px 0px 0px #191a23;
  justify-content: space-between;
}
.block__info-content {
  display: flex;
  align-items: center;
  gap: 1.7rem;
}
@media (max-width: 68.75rem) {
  .block__body {
    padding: 0.875rem;
  }
}
.block__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 68.75rem) {
  .block__info {
    gap: 1rem;
  }
}
.block__number {
  color: #000;
  font-family: Space Grotesk;
  font-size: 3.75rem;
  font-weight: 500;
}
@media (max-width: 68.75rem) {
  .block__number {
    font-size: 1.875rem;
  }
}
.block__text {
  color: #000;
  font-family: Space Grotesk;
  font-size: 1.875rem;
  font-weight: 500;
}
@media (max-width: 68.75rem) {
  .block__text {
    font-size: 1.125rem;
  }
}
@media (max-width: 58.125rem) {
  .block__text {
    max-width: 12.6875rem;
  }
}
@media (max-width: 22.25rem) {
  .block__text {
    max-width: 8.6875rem;
  }
}
@media (max-width: 68.75rem) {
  .block__icon span {
    width: 30px;
    height: 30px;
  }
}
.block .accordion-button {
  border-radius: 100%;
  border: 1px solid #191A23;
  width: 58px;
  height: 58px;
  background: linear-gradient(#2c2a2a, #2c2a2a), linear-gradient(#2c2a2a, #2c2a2a);
  background-position: center;
  background-size: 50% 4px, 4px 50%;
  background-repeat: no-repeat;
  cursor: pointer;
}
@media (max-width: 58.125rem) {
  .block .accordion-button {
    width: 30px;
    height: 30px;
  }
}
.block .accordion-button-after {
  border-radius: 100%;
  border: 1px solid #191A23;
  width: 58px;
  height: 58px;
  background: linear-gradient(#2c2a2a, #2c2a2a), linear-gradient(#2c2a2a, #2c2a2a);
  background-position: center;
  background-size: 50% 4px, 4px 0%;
  background-repeat: no-repeat;
  cursor: pointer;
}
@media (max-width: 58.125rem) {
  .block .accordion-button-after {
    width: 30px;
    height: 30px;
  }
}
.block .panel {
  padding: 0 18px;
  max-height: 0;
  max-width: 100%;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.block .green {
  background: #b9ff66;
}

.team {
  padding-bottom: 6.25rem;
}
.team__body {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media (max-width: 77.5rem) {
  .team__body {
    align-items: center;
  }
}
.team__headings {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  padding-bottom: 5rem;
}
@media (max-width: 77.5rem) {
  .team__headings {
    justify-content: center;
    padding-bottom: 2rem;
  }
}
@media (max-width: 58.125rem) {
  .team__headings {
    flex-direction: column;
    padding-bottom: 2rem;
    text-align: center;
    gap: 1.5rem;
  }
}
.team__title {
  background-color: #b9ff66;
  color: #000;
  font-family: Space Grotesk;
  font-size: 2.5rem;
  font-weight: 700;
}
@media (max-width: 58.125rem) {
  .team__title {
    font-size: 2.25rem;
  }
}
.team__text {
  color: #000;
  max-width: 29.5625rem;
  font-family: Space Grotesk;
  font-size: 1.125rem;
  font-weight: 400;
}
.team__cards {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  flex-wrap: wrap;
  margin-bottom: 3.75rem;
}
@media (max-width: 77.5rem) {
  .team__cards {
    justify-content: center;
  }
}
@media (max-width: 51.4375rem) {
  .team__cards {
    margin-bottom: 1.75rem;
  }
}
.team__card {
  padding: 2rem 1.8rem;
  border-radius: 2.8125rem;
  border: 0.0625rem solid #191A23;
  background: #F3F3F3;
  box-shadow: 0rem 0.3125rem 0rem 0rem #191a23;
}
.button {
  border-radius: 0.875rem;
  background: #000;
  width: 16.8125rem;
  padding: 1.25rem 2.1875rem;
  color: #fff;
  text-align: center;
  font-family: Space Grotesk;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-left: auto;
}

.button:hover {
  background: #191A23;
}

.card__worker-info {
  display: flex;
  flex-direction: column;
}

.worker__top {
  display: flex;
  align-items: end;
  position: relative;
  border-bottom: 1px solid #000;
  padding-bottom: 1.75rem;
}
.worker__image {
  margin-right: 1.25rem;
  width: 6.0625rem;
  height: 6.0625rem;
}
.worker__name {
  color: #000;
  font-family: Space Grotesk;
  font-size: 1.25rem;
  font-weight: 500;
}
.worker__position {
  color: #000;
  font-family: Space Grotesk;
  font-size: 1.125rem;
  font-weight: 400;
  max-width: 12.125rem;
}
@media (max-width: 39rem) {
  .worker__position {
    font-size: 1rem;
  }
}
.worker__linkedin {
  width: 2.125rem;
  height: 2.125rem;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.worker__bottom {
  padding-top: 1.75rem;
}
.worker__text {
  max-width: 19.8125rem;
  color: #000;
  font-family: Space Grotesk;
  font-size: 1.125rem;
  font-weight: 400;
}
@media (max-width: 39rem) {
  .worker__text {
    font-size: 1rem;
  }
}

.testimonials {
  padding-bottom: 8.75rem;
}
.testimonials__headings {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  padding-bottom: 5rem;
}
@media (max-width: 77.5rem) {
  .testimonials__headings {
    justify-content: center;
    padding-bottom: 2rem;
  }
}
@media (max-width: 58.125rem) {
  .testimonials__headings {
    flex-direction: column;
    padding-bottom: 2rem;
    text-align: center;
    gap: 1.5rem;
  }
}
.testimonials__title {
  background-color: #b9ff66;
  color: #000;
  font-family: Space Grotesk;
  font-size: 2.5rem;
  font-weight: 700;
}
@media (max-width: 58.125rem) {
  .testimonials__title {
    font-size: 2.25rem;
  }
}
.testimonials__text {
  color: #000;
  max-width: 29.5625rem;
  font-family: Space Grotesk;
  font-size: 1.125rem;
  font-weight: 400;
}
@media (max-width: 43.625rem) {
  .testimonials__text {
    max-width: 16.875rem;
  }
}
.testimonials__swiper {
  border-radius: 2.8125rem;
  background: #191A23;
  padding: 5.25rem 0rem 4.25rem 0rem;
}
@media (max-width: 43.625rem) {
  .testimonials__swiper {
    padding: 2.25rem 0rem 2.25rem 0rem;
  }
}
.testimonials__swiper-slide {
  display: flex;
  padding: 3.25rem;
}
@media (max-width: 43.625rem) {
  .testimonials__swiper-slide {
    padding: 2.25rem 0rem 1.25rem 0rem;
  }
}
.testimonials__slide-text {
  border: 1px solid #b9ff66;
  border-radius: 1.875rem;
  text-align: center;
  max-width: 31.375rem;
  color: #fff;
  font-family: Space Grotesk;
  font-size: 1.125rem;
  font-weight: 400;
  padding: 3rem 3.25rem 3.25rem 3.25rem;
  margin-bottom: 3rem;
}
@media (max-width: 43.625rem) {
  .testimonials__slide-text {
    padding: 1rem 1.25rem 1.25rem 1.25rem;
    margin-bottom: 1rem;
    font-size: 0.925rem;
  }
}
.testimonials__slide-cred {
  color: #F3F3F3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 25rem) {
  .testimonials {
    padding-bottom: 3rem;
  }
}
.cred__title {
  color: #b9ff66;
  font-family: Space Grotesk;
  font-size: 1.25rem;
  font-weight: 500;
}
@media (max-width: 43.625rem) {
  .cred__title {
    font-size: 0.925rem;
  }
}
.cred__position {
  color: #fff;
  font-family: Space Grotesk;
  font-size: 1.125rem;
  font-weight: 400;
}
@media (max-width: 43.625rem) {
  .cred__position {
    font-size: 0.925rem;
  }
}

.contact {
  padding-bottom: 6.25rem;
}
.contact__headings {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  padding-bottom: 5rem;
}
@media (max-width: 77.5rem) {
  .contact__headings {
    justify-content: center;
    padding-bottom: 2rem;
  }
}
@media (max-width: 58.125rem) {
  .contact__headings {
    flex-direction: column;
    padding-bottom: 2rem;
    text-align: center;
    gap: 1.5rem;
  }
}
.contact__title {
  background-color: #b9ff66;
  color: #000;
  font-family: Space Grotesk;
  font-size: 2.5rem;
  font-weight: 700;
}
@media (max-width: 58.125rem) {
  .contact__title {
    font-size: 2.25rem;
  }
}
.contact__text {
  color: #000;
  max-width: 20.1875rem;
  font-family: Space Grotesk;
  font-size: 1.125rem;
  font-weight: 400;
}
@media (max-width: 40.5rem) {
  .contact {
    padding-bottom: 2.5rem;
  }
}
.form {
  display: flex;
  background-color: #F3F3F3;
  border-radius: 2.8125rem;
  padding: 3.75rem 0.1rem 5rem 6.25rem;
  justify-content: space-between;
  position: relative;
}
.form__body {
  width: 100%;
}
@media (max-width: 65.625rem) {
  .form__body {
    width: 100%;
    text-align: center;
  }
}
.form__item {
  margin-bottom: 1.25rem;
}
.form__item:nth-child(1) {
  display: flex;
  align-items: center;
  gap: 0.875rem;
  margin-bottom: 2.5rem;
}
@media (max-width: 65.625rem) {
  .form__item:nth-child(1) {
    justify-content: center;
  }
}
.form__label {
  display: block;
  color: #000;
  font-family: Space Grotesk;
  font-size: 1rem;
  line-height: 1.75rem;
}
.form__input {
  width: 50%;
  padding: 1.125rem 1.875rem;
  border: none;
  border-radius: 0.875rem;
}
.form__input::-moz-placeholder {
  font-family: Space Grotesk;
  font-size: 1.125rem;
}
.form__input::placeholder {
  font-family: Space Grotesk;
  font-size: 1.125rem;
}
.form__message {
  width: 50%;
  padding: 1.125rem 1.875rem;
  border: none;
  border-radius: 0.875rem;
}
.form__image {
  position: absolute;
  top: 80;
  right: 0;
}
@media (max-width: 65.625rem) {
  .form__image {
    display: none;
  }
}

@media (max-width: 65.625rem) {
  .form {
    justify-content: center;
    padding: 2rem 3rem;
  }
}
@media (max-width: 26.5625rem) {
  .form {
    padding: 1rem 1rem;
  }
}
.button-form {
  color: #fff;
  text-align: center;
  font-family: Space Grotesk;
  font-size: 1.25rem;
  background-color: #000;
  font-weight: 400;
  line-height: 1.75rem;
  cursor: pointer;
  padding: 1.25rem 2.19rem;
  border-radius: 0.875rem;
  width: 50%;
}

@media (max-width: 26.5625rem) {
  .button-form {
    font-size: 1rem;
    padding: 1rem 1rem;
  }
}
.footer__wrapper {
  display: flex;
  flex-direction: column;
  background-color: #191A23;
  border-radius: 2.8125rem 2.8125rem 0rem 0rem;
  padding: 3.75rem;
}
.footer__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 4.125rem;
}
@media (max-width: 52.25rem) {
  .footer__header {
    justify-content: center;
  }
}
.footer__logo {
  cursor: pointer;
  max-width: 13.72rem;
}
.footer__icons {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer__body {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding-bottom: 3.0625rem;
  border-bottom: 1px solid #fff;
}
@media (max-width: 43.4375rem) {
  .footer__body {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.footer__contact {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.footer__contact-title {
  color: #000;
  font-family: Space Grotesk;
  font-size: 1.25rem;
  border-radius: 0.4375rem;
  background: #b9ff66;
  font-weight: 500;
  max-width: 7rem;
  padding: 0.1rem;
}
.footer__text {
  color: #fff;
  font-family: Space Grotesk;
  font-size: 18px;
}
@media (max-width: 43.5rem) {
  .footer__text {
    text-align: center;
  }
  .footer__contact-title {
    margin: 0 auto;
  }
}
.footer__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3.6875rem 2.5rem;
  border-radius: 0.875rem;
  background: #292a32;
  gap: 1.25rem;
  max-width: 100%;
}
@media (max-width: 58.5rem) {
  .footer__form {
    flex-wrap: wrap;
    justify-content: center;
    padding: 1.6875rem 1.5rem;
  }
}
.footer__input {
  border-radius: 0.875rem;
  border: 1px solid #fff;
  padding: 1.375rem 2.1875rem;
  max-width: 20.625rem;
}
@media (max-width: 26.625rem) {
  .footer__input {
    width: 60%;
  }
}
.footer__button {
  border-radius: 14px;
  background: #b9ff66;
  padding: 20px 35px;
  color: #000;
  text-align: center;
  font-family: Space Grotesk;
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.footer__button button {
  background-color: #b9ff66;
  color: #000;
  text-align: center;
  font-family: Space Grotesk;
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.footer__bottom {
  padding-top: 3.0625rem;
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
}
@media (max-width: 39.875rem) {
  .footer__bottom {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1.2rem;
  }
}
.footer__copyrights-text {
  color: #fff;
  font-family: Space Grotesk;
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.footer__policy a {
  color: #fff;
  font-family: Space Grotesk;
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.footer__policy a:hover {
  color: wheat;
}

@media (max-width: 66.25rem) {
  .menu__list {
    text-align: center;
    -moz-column-gap: 2.5rem;
         column-gap: 2.5rem;
  }
}
@media (max-width: 50.625rem) {
  .menu__list {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 1rem;
  }
}
.menu__link {
  color: #fff;
  font-family: Space Grotesk;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}
.menu__link:hover {
  color: wheat;
}
@media (max-width: 26.875rem) {
  .menu__list {
    flex-direction: column;
    gap: 2.1875rem;
  }
  .menu__link {
    font-size: 1.8rem;
  }
}

body {
  font-family: "Space Grotesk", sans-serif;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1 1 auto;
}

.button {
  cursor: pointer;
  padding: 1.25rem 2.19rem;
  border-radius: 0.875rem;
}

[class*=__container] {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 15px;
}