.contact {
    padding-bottom: 6.25rem;
    // .contact__container
    &__container {
    }
    // .contact__body
    &__body {
    }
    // .contact__headings
    &__headings {
        display: flex;
        align-items: center;
        gap: 2.5rem;
        padding-bottom: 5rem;
    }
    @media (max-width: 77.5rem) {
        &__headings {
            justify-content: center;
            padding-bottom: 2rem;
        }
    }
    // .team__title
    @media (max-width: 58.125rem) {
        &__headings {
            flex-direction: column;
            padding-bottom: 2rem;
            text-align: center;
            gap: 1.5rem;
        }
    }
    &__title {
        background-color: $primary-additional-color;
        color: $primary-font-color;
        font-family: Space Grotesk;
        font-size: 2.5rem;
        font-weight: 700;
    }
    @media (max-width: 58.125rem) {
        &__title {
            font-size: 2.25rem;
        }
    }

    // .process__text
    &__text {
        color: $primary-font-color;
        max-width: 20.1875rem;
        font-family: Space Grotesk;
        font-size: 1.125rem;
        font-weight: 400;
    }
    // .contact__form
    &__form {
    }
}

@media (max-width:40.5rem){
    .contact{
        padding-bottom: 2.5rem;
    }
}
.form {
    // .form__body
    display: flex;
    background-color: $bg-color-card;
    border-radius: 2.8125rem;
    padding: 3.75rem 0.1rem 5rem 6.25rem;
    justify-content: space-between;
    position: relative;
    &__body {
        width: 100%;
    }
    @media (max-width: 65.625rem) {
        &__body {
            width: 100%;
            text-align: center;
        }
    }
    // .form__item
    &__item {
        margin-bottom: 1.25rem;
    }

    &__item:nth-child(1) {
        display: flex;
        align-items: center;
        gap: 0.875rem;
        margin-bottom: 2.5rem;
    }
    @media (max-width: 65.625rem) {
        &__item:nth-child(1) {
            justify-content: center;
        }
    }
    // .form__radio
    &__radio {
    }
    // .form__label
    &__label {
        display: block;
        color: $primary-font-color;
        font-family: Space Grotesk;
        font-size: 1rem;
        line-height: 1.75rem;
    }
    // .form__name
    &__input {
        width: 50%;
        padding: 1.125rem 1.875rem;
        border: none;
        border-radius: 0.875rem;
    }

    &__input::placeholder {
        font-family: Space Grotesk;
        font-size: 1.125rem;
    }

    // .form__message
    &__message {
        width: 50%;
        padding: 1.125rem 1.875rem;
        border: none;
        border-radius: 0.875rem;
    }
    // .form__button
    &__button {
    }

    &__image {
        position: absolute;
        top: 80;
        right: 0;
    }

    @media (max-width: 65.625rem) {
        &__image {
            display: none;
        }
    }
}
@media (max-width: 65.625rem) {
    .form {
        justify-content: center;
        padding: 2rem 3rem;
    }
}
@media (max-width: 26.5625rem) {
    .form {
        padding: 1rem 1rem;
    }
}

.button-form {
    color: $secondary-font-color;
    text-align: center;
    font-family: Space Grotesk;
    font-size: 1.25rem;
    background-color: $primary-font-color;
    font-weight: 400;
    line-height: 1.75rem;
    cursor: pointer;
    padding: 1.25rem 2.19rem;
    border-radius: 0.875rem;
    width: 50%;
}

@media (max-width: 26.5625rem) {
    .button-form {
        font-size: 1rem;
        padding: 1rem 1rem;
    }
    
}
