.process {
    padding-bottom: 8.75rem;
    // .process__container
    &__container {
    }
    // .process__body
    &__body {
    } // .process__heading
    &__heading {
        display: flex;
        align-items: center;
        gap: 2.5rem;
        padding-bottom: 5rem;
    }
    @media (max-width: 58.125rem) {
        &__heading {
            flex-direction: column;
            padding-bottom: 2rem;
            text-align: center;
            gap: 1.5rem;
        }
    }

    // .process__title
    &__title {
        background-color: $primary-additional-color;
        color: $primary-font-color;
        font-family: Space Grotesk;
        font-size: 2.5rem;
        font-weight: 500;
    }
    @media (max-width: 58.125rem) {
        &__title {
            font-size: 2.25rem;
        }
    }
   
    // .process__text
    &__text {
        color: $primary-font-color;
        max-width: 18.25rem;
        font-family: Space Grotesk;
        font-size: 1.125rem;
        font-weight: 400;
    }
   
    // .process__blocks
    &__blocks {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.875rem;
    }
}
@media (max-width: 58.125rem) {
    .process{
        padding-bottom: 3rem;
    }
}
.block {
    // .block__body
    &__body {
        display: flex;
        width: 90%;
        flex-direction: column;
        padding: 2.5625rem 3.75rem;
        border-radius: 45px;
        border: 1px solid $bg-cases-color;
        background: $bg-color-card;
        box-shadow: 0px 5px 0px 0px $shadow-color;
        justify-content: space-between;
    }

    &__info-content {
        display: flex;
        align-items: center;
        gap: 1.7rem;
    }
    @media (max-width: 68.75rem) {
        &__body {
            padding: 0.875rem;
        }
    }

    // .block__info
    &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    @media (max-width: 68.75rem) {
        &__info {
            gap: 1rem;
        }
    }
    // .block__number
    &__number {
        color: $primary-font-color;
        font-family: Space Grotesk;
        font-size: 3.75rem;
        font-weight: 500;
    }

    @media (max-width: 68.75rem) {
        &__number {
            font-size: 1.875rem;
        }
    }
    // .block__text
    &__text {
        color: $primary-font-color;
        font-family: Space Grotesk;
        font-size: 1.875rem;
        font-weight: 500;
    }

    @media (max-width: 68.75rem) {
        &__text {
            font-size: 1.125rem;
        }
    }

    @media (max-width: 58.125rem) {
        &__text{
            max-width: 12.6875rem;
        }
    }
    @media (max-width: 22.25rem) {
        &__text{
            max-width: 8.6875rem;
        }
    }
    
    // .block__icon

    @media (max-width: 68.75rem) {
        &__icon span {
            width: 30px;
            height: 30px;
        }
    }

    .accordion-button {
        border-radius: 100%;
        border: 1px solid $bg-cases-color;
        width: 58px;
        height: 58px;
        background: linear-gradient($hover-dark, $hover-dark), linear-gradient($hover-dark, $hover-dark);
        background-position: center;
        background-size: 50% 4px, 4px 50%;
        background-repeat: no-repeat;
        cursor: pointer;
    }

    @media (max-width: 58.125rem) {
        .accordion-button{
            width: 30px;
            height: 30px;
        }
    }

    .accordion-button-after {
        border-radius: 100%;
        border: 1px solid $bg-cases-color;
        width: 58px;
        height: 58px;
        background: linear-gradient($hover-dark, $hover-dark), linear-gradient($hover-dark, $hover-dark);
        background-position: center;
        background-size: 50% 4px, 4px 0%;
        background-repeat: no-repeat;
        cursor: pointer;
    }
    @media (max-width: 58.125rem) {
        .accordion-button-after{
            width: 30px;
            height: 30px;
        }
    }
    .panel {
        padding: 0 18px;

        max-height: 0;
        max-width: 100%;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }
    .green {
        background: $primary-additional-color;
    }
}
