$primary-font-color: #000;
$secondary-font-color: #fff;
$primary-additional-color: #b9ff66;
$btn-color-light:#fff;
$burger-icon:#000;
$hover-dark:#2c2a2a;
$hover-light:#dfdfdf;
$hover-green:#9cd654;
$section-bg-color: #191a23;
$shadow-color: #191a23;
$section-bg-color_2:#F3F3F3;
$border-color:#000;
$border-color-card:#191A23;
$bg-color-card:#F3F3F3;
$bg-title-white:#fff;
$burger-color:wheat;
$bg-card-black:#000;
$bg-cases-color:#191A23;
$hover-dark-green:#190088;

